{% extends "base.html" %}
{% block js %}
    <script src="{{ STATIC_URL }}js/Chart.min.js"></script>
{% endblock %}


{% block content %}

    <div class="box box-green">
        <div class="box-header" data-original-title="">
            <h2><i class="fa fa-tasks"></i><span class="break"></span>Task</h2>

            <div class="box-icon">
                <a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i>add
                    task</a>
                <a href="#"><i class="fa fa-chevron-up"></i>push message</a>
            </div>
        </div>


        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped">
            <tr>
                <th><input type="checkbox"/></th>
                <th>序号</th>
                <th>任务名称</th>
                <th>类型</th>
                <th>任务数</th>
                <th>状态</th>
                <th>设备类型</th>
                <th>创建时间</th>
                <th>更新时间</th>
                <th>创建方式</th>
                <th>备注</th>
            </tr>
            {% for task in tasks %}
                <tr>
                    <td><input type="checkbox"/></td>
                    <td>{{ task.id }}</td>
                    <td>{{ task.TaskName }}</td>
                    <td>{{ task.TaskType }}</td>
                    <td>{{ task.TaskCount }}</td>
                    <td>{{ task.TaskState }}</td>
                    <td>{{ task.DeviceType }}</td>
                    <td>{{ task.CreateTime }}</td>
                    <td>{{ task.UpdateTime }}</td>
                    <td>{{ task.CreateWay }}</td>
                    <td>{{ task.Desc }}</td>
                </tr>
            {% endfor %}

        </table>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add Task</h4>
                </div>
                <form action="" method="post">
                    <div class="modal-body">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="control-label">任务名称:</label>{{ form.TaskName }}
                        </div>
                        <div class="form-group">
                            <label class="control-label">类型:</label>{{ form.TaskType }}
                        </div>

                        <div class="form-group">
                            <label class="control-label">执行数:</label>{{ form.TaskCount }}
                        </div>
                        <!--div class="form-group">
                                <label class="control-label">状态:</label>{{ form.TaskState }}
                            </div-->
                        <div class="form-group">
                            <label class="control-label">设备类型:</label>{{ form.DeviceType }}
                        </div>
                        <!--div class="form-group">
                                <label class="control-label">创建方式:</label>{{ form.CreateWay }}
                            </div-->
                        <div class="form-group">
                            <label class="control-label">是否共享:</label>{{ form.IsShared }}
                        </div>
                        <!--class="form-group">
                                <label class="control-label">创建时间:</label>{{ form.CreateTime }}
                            </div>
                            <div class="form-group">
                                <label class="control-label">更新时间:</label>{{ form.UpdateTime }}
                            </div-->
                        <div class="form-group">
                            <label class="control-label">备注:</label>{{ form.Description }}
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}