{% extends "base.html" %}
{% block js %}
    <script type="text/javascript">

        $(function () {
            $("#btnAddTask").click(function () {
                //$('body').append("<div class='mask'></div>");
                $('#newTask').toggle();
            });
        });

    </script>
{% endblock %}

{% block page_action %}
    <li><a href="#" id="btnAddTask">Add Task</a>

        <div id="newTask">

            <form action="" method="post">
                {% csrf_token %}
                <ul>
                    <li><label>任务名称:</label>{{ form.TaskName }}</li>
                    <li><label>类型:</label>{{ form.TaskType }}</li>
                    <li><label>执行数:</label>{{ form.TaskCount }}</li>
                    <li><label>状态:</label>{{ form.TaskState }}</li>
                    <li><label>设备类型:</label>{{ form.DeviceType }}</li>
                    <li><label>创建方式:</label>{{ form.CreateWay }}</li>
                    <li><label>是否共享:</label>{{ form.IsShared }}</li>
                    <li><label>创建时间:</label>{{ form.CreateTime }}</li>
                    <li><label>更新时间:</label>{{ form.UpdateTime }}</li>
                    <li><label>备注:</label>{{ form.Description }}</li>
                    <li><input type="submit" value="ok" onclick="closeNewTask()"></li>
                </ul>
            </form>
        </div>
    </li>
    <li style="border-right:#267bc8 1px solid"><a href="#">Push Message</a></li>
{% endblock %}

{% block content %}
    <h1 class="page-header">
        Task
    </h1>

    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped">
        <tr>
            <th><input type="checkbox"/></th>
            <th>序号</th>
            <th>任务名称</th>
            <th>类型</th>
            <th>任务数</th>
            <th>状态</th>
            <th>设备类型</th>
            <th>创建时间</th>
            <th>更新时间</th>
            <th>创建方式</th>
            <th>备注</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td><input type="checkbox"/></td>
                <td>{{ task.id }}</td>
                <td>{{ task.TaskName }}</td>
                <td>{{ task.TaskType }}</td>
                <td>{{ task.TaskCount }}</td>
                <td>{{ task.TaskState }}</td>
                <td>{{ task.DeviceType }}</td>
                <td>{{ task.CreateTime }}</td>
                <td>{{ task.UpdateTime }}</td>
                <td>{{ task.CreateWay }}</td>
                <td>{{ task.Desc }}</td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}