body {
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei"
}

h1, h2, h3, ul, li, p {
    margin: 0;
    padding: 0;
}

.bing {
    width: 100%;
    height: 60px;
    background-position: center top;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1000;
    background-size: cover;
}

.header-nav {
    width: auto;
    height: 60px;
    line-height: 60px;
    background-color: #fff;
    /*    -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;*/
    border-top: #ff2121 3px solid;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
}

.header-nav h1 {
    font-size: 16px;
}

.header-nav .row {
    position: relative;
}

.header-nav .logo {
    text-align: center;
}

.header-nav .row > div > ul > li {
    list-style: none;
    font-size: 15px;
    color:#555;
    float: left;
}

.main-content{}