{% extends "base_blog.html" %}
{% block content %}
    {% for art in arts %}
        <section>
            <h3>{{ art.Title }}</h3>
            <ul>
                <li>{{ art.PostTime }}</li>
                <li>{{ art.ReplyNum }}</li>
                <li>{{ art.ReadNum }}</li>
                <li>{{ art.Tags }}</li>
            </ul>
            <p>{{ art.Content }}</p>
        </section>
    {% endfor %}
    <!--form action="" method="post" class="form-inline">
        {% csrf_token %}
        <ul style="width:500px;height:300px;position: absolute;left:50%;top:200px;">
            <li>标题：{{ form.Title }}</li>
            <li>内容：{{ form.Content }}</li>
            <li>标签：{{ form.Tags }}</li>
            <li>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </li>
        </ul>
    </form-->
{% endblock %}