<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Examples</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="" rel="stylesheet">
    <style type="text/css">
        input, textarea {
            color: #888;
            padding: 5px;
            margin: 10px;
            outline: none;
            overflow: hidden;
            border-radius: 5px;
            background: #fafafa;
            border: 1px solid #ddd;
            -moz-box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.1);
            -webkit-box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.1);
            box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.1);
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            -o-transition: all .3s;
        }

        .style1 {
            width: 150px;
        }

        .style1:focus {
            width: 230px;
        }

        .style2 {
            float: right;
            width: 150px;
        }

        .style2:focus {
            width: 230px;
        }

        .style3 {
            width: 10%;
        }

        .style3:focus {
            width: 98%;
        }

        .style4 {
            height: 2em;
            width: 230px;
        }

        .style4:focus {
            height: 8em;
        }
    </style>
</head>
<body>
<section><a href="/news/wap_con/" class="clearfix"><img src="http://p2.pstatp.com/large//2637/2687599176" class="imgr"/>

    <h3> A320空难死者家属抵坠机现场附近凭吊</h3>

    <div class="comment-tips"><span>网易新闻</span><i class="fa fa-comment-o"></i><b>488</b></div>
</a>

    <div class="time-action">
        <time>40分钟前</time>
        <button class="fa fa-heart-o" onclick="showFav(this);return false"></button>
    </div>
</section>
<section><a href="/news/wap_con/" class="clearfix"><h3> 昆明公安曝“小官大腐” 官渡公安局长家中搜出超1亿现金</h3></a>

    <div class="comment-tips">
        <div class="time-action">
            <time>40分钟前</time>
            <button class="fa fa-heart-o" onclick="showFav(this);return false"></button>
        </div>
        <span>网易新闻</span><i class="fa fa-comment-o"></i><b>488</b></div>
</section>
<section><a href="/news/wap_con/" class="clearfix"><h3></h3>
    <ul class="img-list clearfix">
        <li>
            <div class="img-wrap"><img src="http://p2.pstatp.com/list/2628/8415629205"/></div>
        </li>
        <li>
            <div class="img-wrap"><img src="http://p1.pstatp.com/list/2630/8024499930"/></div>
        </li>
        <li>
            <div class="img-wrap"><img src="http://p2.pstatp.com/list/2635/466540078"/></div>
        </li>
    </ul>
</a>

    <div class="comment-tips">
        <div class="time-action">
            <time>40分钟前</time>
            <button class="fa fa-heart-o" onclick="showFav(this);return false"></button>
        </div>
        <span>网易新闻</span><i class="fa fa-comment-o"></i><b>488</b></div>
</section>
<section><a href="/news/wap_con/" class="clearfix"><img src="http://p2.pstatp.com/large/2628/2684095597" class="imgr"/>

    <h3> 【新风尚最后1天，牛货限时狂降】</h3>

    <div class="comment-tips"><span>网易新闻</span><i class="fa fa-comment-o"></i><b>488</b></div>
</a>

    <div class="time-action">
        <time>40分钟前</time>
        <button class="fa fa-heart-o" onclick="showFav(this);return false"></button>
    </div>
</section>
<section><a href="/news/wap_con/" class="clearfix"><img src="http://p1.pstatp.com/list/2638/4432684910" class="imgr"/>

    <h3> 卡奴进阶：信用卡赚钱秘籍，助你月入十万(终极篇)</h3>

    <div class="comment-tips"><span>网易新闻</span><i class="fa fa-comment-o"></i><b>488</b></div>
</a>

    <div class="time-action">
        <time>40分钟前</time>
        <button class="fa fa-heart-o" onclick="showFav(this);return false"></button>
    </div>
</section>
<section><a href="/news/wap_con/" class="clearfix"><img src="http://p1.pstatp.com/list/2632/2954418833" class="imgr"/>

    <h3> 自来水哗哗流了两天 女子裸体死于卫生间</h3>

    <div class="comment-tips"><span>网易新闻</span><i class="fa fa-comment-o"></i><b>488</b></div>
</a>

    <div class="time-action">
        <time>40分钟前</time>
        <button class="fa fa-heart-o" onclick="showFav(this);return false"></button>
    </div>
</section>
<section><a href="/news/wap_con/" class="clearfix"><h3> 史上最离谱的皇后:嫁了人生完孩子再入宫</h3>
    <ul class="img-list clearfix">
        <li>
            <div class="img-wrap"><img src="http://p2.pstatp.com/list/2628/7167985595"/></div>
        </li>
        <li>
            <div class="img-wrap"><img src="http://p2.pstatp.com/list/2627/7740718430"/></div>
        </li>
        <li>
            <div class="img-wrap"><img src="http://p2.pstatp.com/list/2625/8474542226"/></div>
        </li>
    </ul>
</a>

    <div class="comment-tips">
        <div class="time-action">
            <time>40分钟前</time>
            <button class="fa fa-heart-o" onclick="showFav(this);return false"></button>
        </div>
        <span>网易新闻</span><i class="fa fa-comment-o"></i><b>488</b></div>
</section>
<section><a href="/news/wap_con/" class="clearfix"><img src="http://p2.pstatp.com/list/2628/4832105366" class="imgr"/>

    <h3> 主持人打断巨龟交配，史上最慢追击战一触即发</h3>

    <div class="comment-tips"><span>网易新闻</span><i class="fa fa-comment-o"></i><b>488</b></div>
</a>

    <div class="time-action">
        <time>40分钟前</time>
        <button class="fa fa-heart-o" onclick="showFav(this);return false"></button>
    </div>
</section>
<section><a href="/news/wap_con/" class="clearfix"><img src="http://p2.pstatp.com/list/2627/5425913106" class="imgr"/>

    <h3></h3>

    <div class="comment-tips"><span>网易新闻</span><i class="fa fa-comment-o"></i><b>488</b></div>
</a>

    <div class="time-action">
        <time>40分钟前</time>
        <button class="fa fa-heart-o" onclick="showFav(this);return false"></button>
    </div>
</section>
<section><a href="/news/wap_con/" class="clearfix"><h3></h3>
    <ul class="img-list clearfix">
        <li>
            <div class="img-wrap"><img src="http://p2.pstatp.com/list/2638/3570654337"/></div>
        </li>
        <li>
            <div class="img-wrap"><img src="http://p2.pstatp.com/list/2639/3331609792"/></div>
        </li>
        <li>
            <div class="img-wrap"><img src="http://p2.pstatp.com/list/2639/3331078463"/></div>
        </li>
    </ul>
</a>

    <div class="comment-tips">
        <div class="time-action">
            <time>40分钟前</time>
            <button class="fa fa-heart-o" onclick="showFav(this);return false"></button>
        </div>
        <span>网易新闻</span><i class="fa fa-comment-o"></i><b>488</b></div>
</section>
<section><a href="/news/wap_con/" class="clearfix"><h3></h3></a>

    <div class="comment-tips">
        <div class="time-action">
            <time>40分钟前</time>
            <button class="fa fa-heart-o" onclick="showFav(this);return false"></button>
        </div>
        <span>网易新闻</span><i class="fa fa-comment-o"></i><b>488</b></div>
</section>
<section><a href="/news/wap_con/" class="clearfix"><h3> 夏季快到了，女孩们千万不能这样穿短裤！</h3>
    <ul class="img-list clearfix">
        <li>
            <div class="img-wrap"><img src="http://p2.pstatp.com/list/2617/4824076221"/></div>
        </li>
        <li>
            <div class="img-wrap"><img src="http://p2.pstatp.com/list/2622/3060212069"/></div>
        </li>
        <li>
            <div class="img-wrap"><img src="http://p2.pstatp.com/list/2616/5668869935"/></div>
        </li>
    </ul>
</a>

    <div class="comment-tips">
        <div class="time-action">
            <time>40分钟前</time>
            <button class="fa fa-heart-o" onclick="showFav(this);return false"></button>
        </div>
        <span>网易新闻</span><i class="fa fa-comment-o"></i><b>488</b></div>
</section>
<section><a href="/news/wap_con/" class="clearfix"><h3> 手机老是提示存储空间、内存不足怎么办？小白必看的处理方法</h3></a>

    <div class="comment-tips">
        <div class="time-action">
            <time>40分钟前</time>
            <button class="fa fa-heart-o" onclick="showFav(this);return false"></button>
        </div>
        <span>网易新闻</span><i class="fa fa-comment-o"></i><b>488</b></div>
</section>
<section><a href="/news/wap_con/" class="clearfix"><img src="http://p2.pstatp.com/list/2623/7527406266" class="imgr"/>

    <h3></h3>

    <div class="comment-tips"><span>网易新闻</span><i class="fa fa-comment-o"></i><b>488</b></div>
</a>

    <div class="time-action">
        <time>40分钟前</time>
        <button class="fa fa-heart-o" onclick="showFav(this);return false"></button>
    </div>
</section>
<section><a href="/news/wap_con/" class="clearfix"><img src="http://p2.pstatp.com/list/2602/4763842812" class="imgr"/>

    <h3> 日军帽子后面为啥有个屁帘儿？</h3>

    <div class="comment-tips"><span>网易新闻</span><i class="fa fa-comment-o"></i><b>488</b></div>
</a>

    <div class="time-action">
        <time>40分钟前</time>
        <button class="fa fa-heart-o" onclick="showFav(this);return false"></button>
    </div>
</section>
<section><a href="/news/wap_con/" class="clearfix"><h3></h3>
    <ul class="img-list clearfix">
        <li>
            <div class="img-wrap"><img src="http://p2.pstatp.com/list/2621/8265776855"/></div>
        </li>
        <li>
            <div class="img-wrap"><img src="http://p2.pstatp.com/list/2621/8265824955"/></div>
        </li>
        <li>
            <div class="img-wrap"><img src="http://p2.pstatp.com/list/2627/754262293"/></div>
        </li>
    </ul>
</a>

    <div class="comment-tips">
        <div class="time-action">
            <time>40分钟前</time>
            <button class="fa fa-heart-o" onclick="showFav(this);return false"></button>
        </div>
        <span>网易新闻</span><i class="fa fa-comment-o"></i><b>488</b></div>
</section>
<section><a href="/news/wap_con/" class="clearfix"><h3> 小七的大哥是妹控 暖男 绅士 贝氏家教太好</h3>
    <ul class="img-list clearfix">
        <li>
            <div class="img-wrap"><img src="http://p2.pstatp.com/list/2630/1473331927"/></div>
        </li>
        <li>
            <div class="img-wrap"><img src="http://p1.pstatp.com/list/2627/2617974883"/></div>
        </li>
        <li>
            <div class="img-wrap"><img src="http://p2.pstatp.com/list/2627/2658861242"/></div>
        </li>
    </ul>
</a>

    <div class="comment-tips">
        <div class="time-action">
            <time>40分钟前</time>
            <button class="fa fa-heart-o" onclick="showFav(this);return false"></button>
        </div>
        <span>网易新闻</span><i class="fa fa-comment-o"></i><b>488</b></div>
</section>
<section><a href="/news/wap_con/" class="clearfix"><img src="http://p2.pstatp.com/list/2607/1635472556" class="imgr"/>

    <h3> 欢天喜地，花七万买辆“兰博基尼”跑车，亮瞎丈母娘的眼</h3>

    <div class="comment-tips"><span>网易新闻</span><i class="fa fa-comment-o"></i><b>488</b></div>
</a>

    <div class="time-action">
        <time>40分钟前</time>
        <button class="fa fa-heart-o" onclick="showFav(this);return false"></button>
    </div>
</section>
<section><a href="/news/wap_con/" class="clearfix"><img src="http://p1.pstatp.com/list/2604/2382032497" class="imgr"/>

    <h3></h3>

    <div class="comment-tips"><span>网易新闻</span><i class="fa fa-comment-o"></i><b>488</b></div>
</a>

    <div class="time-action">
        <time>40分钟前</time>
        <button class="fa fa-heart-o" onclick="showFav(this);return false"></button>
    </div>
</section>
<section><a href="/news/wap_con/" class="clearfix"><h3> 3.28-29齐家木制品节,万元免单等您来!</h3></a>

    <div class="comment-tips">
        <div class="time-action">
            <time>40分钟前</time>
            <button class="fa fa-heart-o" onclick="showFav(this);return false"></button>
        </div>
        <span>网易新闻</span><i class="fa fa-comment-o"></i><b>488</b></div>
</section>
<section><a href="/news/wap_con/" class="clearfix"><h3></h3>
    <ul class="img-list clearfix">
        <li>
            <div class="img-wrap"><img src="http://p2.pstatp.com/list/2627/5023253959"/></div>
        </li>
        <li>
            <div class="img-wrap"><img src="http://p1.pstatp.com/list/2624/6697519730"/></div>
        </li>
        <li>
            <div class="img-wrap"><img src="http://p2.pstatp.com/list/2626/5260199708"/></div>
        </li>
    </ul>
</a>

    <div class="comment-tips">
        <div class="time-action">
            <time>40分钟前</time>
            <button class="fa fa-heart-o" onclick="showFav(this);return false"></button>
        </div>
        <span>网易新闻</span><i class="fa fa-comment-o"></i><b>488</b></div>
</section>
<section><a href="/news/wap_con/" class="clearfix"><img src="http://p2.pstatp.com/list/2639/5906239174" class="imgr"/>

    <h3> 赵宏伟：韩国带着激动宣布参加亚投行</h3>

    <div class="comment-tips"><span>网易新闻</span><i class="fa fa-comment-o"></i><b>488</b></div>
</a>

    <div class="time-action">
        <time>40分钟前</time>
        <button class="fa fa-heart-o" onclick="showFav(this);return false"></button>
    </div>
</section>
<section><a href="/news/wap_con/" class="clearfix"><h3> 那些网友开发出来的Wi-Fi新用途</h3>
    <ul class="img-list clearfix">
        <li>
            <div class="img-wrap"><img src="http://p2.pstatp.com/list/2628/2277414049"/></div>
        </li>
        <li>
            <div class="img-wrap"><img src="http://p2.pstatp.com/list/2624/4604007617"/></div>
        </li>
        <li>
            <div class="img-wrap"><img src="http://p1.pstatp.com/list/2624/4604069084"/></div>
        </li>
    </ul>
</a>

    <div class="comment-tips">
        <div class="time-action">
            <time>40分钟前</time>
            <button class="fa fa-heart-o" onclick="showFav(this);return false"></button>
        </div>
        <span>网易新闻</span><i class="fa fa-comment-o"></i><b>488</b></div>
</section>
<section><a href="/news/wap_con/" class="clearfix"><h3></h3></a>

    <div class="comment-tips">
        <div class="time-action">
            <time>40分钟前</time>
            <button class="fa fa-heart-o" onclick="showFav(this);return false"></button>
        </div>
        <span>网易新闻</span><i class="fa fa-comment-o"></i><b>488</b></div>
</section>

</body>
</html>