<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/news.css">
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var winH = $(window).height(); //页面可视区域高度
            var i = 1;
            var has_load = true;
            $(window).scroll(function () {
                var pageH = $(document.body).height();
                var scrollT = $(window).scrollTop(); //滚动条top
                var sc = (pageH - winH - scrollT) / winH;

                if (sc < 0.02 && has_load) {
                    has_load = false;
                    $.ajax({
                        type: "GET",
                        url: "/news/result_data/?page=" + i,
                        dataType: "json",
                        beforeSend: function () {
                            $("#loading-data").html("<i class='fa fa-spinner fa-spin'></i>加载中...").show();
                        },
                        success: function (response) {
                            if (response) {
                                $.each(response, function (index, array) {
                                    str = "<a href='#' class='content-row'>";
                                    str += "<div class='img-right'><img src='" + array['image'] + "'/></div>";
                                    str += "<div class='txt-content'>";
                                    str += "<h2>" + array['result'] + "</h2>";
                                    str += "<div class='news_tips'>";
                                    str += "<span class='nt_left'>网易新闻<i class='fa fa-comment-o'></i> 488</span>";
                                    str += "<span class='nt_right'>40分钟前 <button class='fa fa-heart-o' onclick='showFav(this);return false'>";
                                    str += "</button></span></div></div></a>";
                                    $("#container").append(str);
                                });
                                i++;
                                has_load = true;
                                $("#loading-data").empty().hide();
                            }
                            else {
                                $("#loading-data").text("没有更多的数据").show();
                            }
                        },
                        error: function () {
                            $("#loading-data").empty().hide();
                        }
                    });
                }
            });
        });

        function showFav(obj) {
            $("body").find("#pop-fav").remove();
            $(obj).parent().parent().append("<ul id='pop-fav'>" +
            "<li><a href='#'><i class='fa fa-heart'></i> 收藏</a></li>" +
            "<li><a href='#'><i class='fa fa-frown-o'></i> 不感兴趣</a></li>" +
            "<li><a id='fav_close' href='javascript:void(0)' onclick='closeFav(this)'>×</a></li>" +
            "</ul>");

        }

        function closeFav(obj) {
            $(obj).parent().parent().remove();
        }
    </script>

</head>
<body>
<header class="header-nav">
    <div class="top-bar">
        <a href="#" class="avatar"><i class="fa fa-user"></i></a>

        <div class="title">今日头条</div>
        <a href="#" class="search"><i class="fa fa-search"></i></a>
    </div>
    <div class="top-menu">
        <ul class="menu-list">
            <li><a href="#">推荐</a></li>
            <li><a href="#">热点</a></li>
            <li><a href="#">社会</a></li>
            <li><a href="#">娱乐</a></li>
            <li><a href="#">科技</a></li>
            <li><a href="#">热点</a></li>
            <li><a href="#">社会</a></li>
        </ul>
        <a href="/news/wap_menu/" class="more"><i class="fa fa-ellipsis-h"></i></a>
    </div>
</header>

<div id="container">
    <a href="#" class="content-row">
        <h2>A股半天成交7000亿元 多家券商交易系统</h2>
        <ul class="img-list">
            <li>
                <div class="img-wrap"><img src="http://p2.pstatp.com/list/2541/8371381749"/></div>
            </li>
            <li>
                <div class="img-wrap"><img src="http://p2.pstatp.com/list/2541/5289568197"/></div>
            </li>
            <li>
                <div class="img-wrap"><img src="http://p1.pstatp.com/list/2551/7733044917"/></div>
            </li>
        </ul>
        <div class="news_tips">
            <span class="nt_left">网易新闻<i class="fa fa-comment-o"></i> 488</span>
            <span class="nt_right">40分钟前 <button class="fa fa-heart-o"
                                                 onclick="showFav(this);return false"></button></span>
        </div>
    </a>

    <a href="#" class="content-row">
        <h2>内蒙古原公安厅长持枪追杀女子详情披露</h2>
        <ul class="img-list">
            <li>
                <div class="img-wrap"><img src="http://p2.pstatp.com/list/2559/5820993984"/></div>
            </li>
            <li>
                <div class="img-wrap"><img src="http://p1.pstatp.com/list/2543/7711884412"/></div>
            </li>
            <li>
                <div class="img-wrap"><img src="http://p1.pstatp.com/list/2556/2263086381"/></div>
            </li>
        </ul>
        <div class="news_tips">
            <span class="nt_left">网易新闻<i class="fa fa-comment-o"></i> 488</span>
            <span class="nt_right">40分钟前 <button class="fa fa-heart-o"
                                                 onclick="showFav(this);return false"></button></span>
        </div>
    </a>

    <a href="#" class="content-row">
        <div class="img-right"><img src="http://p2.pstatp.com/list/2522/151278873"/></div>

        <h2>欧洲打击中国人非法卖淫及人口贩卖</h2>

        <div class="news_tips">
            <span class="nt_left">网易新闻<i class="fa fa-comment-o"></i> 488</span>
                <span class="nt_right">40分钟前 <button class="fa fa-heart-o"
                                                     onclick="showFav(this);return false"></button></span>
        </div>
    </a>

    <a href="#" class="content-row">
        <div class="img-right"><img src="http://p1.pstatp.com/list/2551/7408484741"/></div>

        <h2>A股半天成交7000亿元 多家券商交易系统瘫痪</h2>

        <div class="news_tips">
            <span class="nt_left">网易新闻<i class="fa fa-comment-o"></i> 488</span>
            <span class="nt_right">40分钟前 <button class="fa fa-heart-o"
                                                 onclick="showFav(this);return false"></button></span>
        </div>
    </a>

    <a href="#" class="content-row">
        <h2>媒体：下只“老虎”很可能出现在意想不到的地方</h2>

        <div class="news_tips">
            <span class="nt_left">网易新闻<i class="fa fa-comment-o"></i> 488</span>
                <span class="nt_right">40分钟前 <button class="fa fa-heart-o"
                                                     onclick="showFav(this);return false"></button></span>
        </div>
    </a>

    <a href="#" class="content-row">
        <h2>就是这么任性！ 苹果iPhone5c给钱就卖</h2>

        <div class="news_tips">
            <span class="nt_left">网易新闻<i class="fa fa-comment-o"></i> 488</span>
            <span class="nt_right">40分钟前 <button class="fa fa-heart-o"
                                                 onclick="showFav(this);return false"></button></span>
        </div>
    </a>
</div>
<div id="loading-data"></div>
</body>
</html>