<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/news.css">
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>


</head>
<body>
<div class="news-content">
    <h1 class="news_title">盘点海贼王中自然系能力者对战记录</h1>

    <div class="news_tips">
        <span class="nt_left">网易新闻 2015-01-03 18:33:01</span>
        <span class="nt_right">38条评论</span>
    </div>
    <p>
        “大事件”结束后的两年间，赤犬获得世界政府上层的推荐，准备接任战国离位后留下的元帅位阶，然而此举却和战国推荐青雉成为元帅的意愿相互抵触，以致于青雉和赤犬为此产生了严重的争执，甚至在庞克哈萨特展开长达十天的激烈决斗。最后赤犬仍然战胜青雉成为新任元帅，但因为同情青雉的缘故而放过对方（有些网友猜测，可能不是出于同情，而是为了保留海军的战力才放过他的。因为海军大将是海军的最强战力，所以失去一员大将，对海军来说是一个巨大的损失）。</p>

    <p>在属性完全相反的果实面前，即便同是自然系。也有可能无法元素化。（如果一打全都元素化了，打一辈子都分不出胜负）</p>

    <p><img src="http://p2.pstatp.com/large/2602/148135667"/></p>
</div>
</body>
</html>