{% extends "base_wp.html" %}

{% block content %}
    <div class="box box-orange">
        <div class="box-header">
            <h2>
                Module {{ module }}
            </h2>

            <div class="box-toolbar">

                <div class="btn-group btn-group-sm" role="group" aria-label="...">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal"><i
                            class="fa fa-plus"></i> Add
                    </button>
                    <button type="button" class="btn btn-default"><i class="fa fa-trash"></i> Delete
                    </button>
                    <button type="button" class="btn btn-default">More</button>
                </div>
                <nav>
                    <ul class="pagination pagination-sm">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped">
            <tr>
                <th><input type="checkbox"/></th>
                <th>序号</th>
                <th>模块名称</th>
                <th>状态</th>
                <th>创建时间</th>
                <th>更新时间</th>
                <th>备注</th>
            </tr>
            {% for device in devices %}
                <tr>
                    <td><input type="checkbox"/></td>
                    <td>{{ device.id }}</td>
                    <td>{{ device.DisplayName }}</td>
                    <td>{{ device.IsEnable }}</td>
                    <td>{{ device.CreateTime }}</td>
                    <td>{{ device.UpdateTime }}</td>
                    <td>{{ device.Description }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}