<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MyBlog</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/blog.css">
    <link rel="icon" href="{{ STATIC_URL }}img/wp.ico">
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
</head>
<body>
<header class="header-nav">
    <div class="container nav">
        <div class="row">
            <div class="col-sm-3">
                <h1>SEAN.GU</h1>
            </div>
            <div class="col-sm-9 menu">
                <ul>
                    <li><a href="#">首页</a></li>
                    <li><a href="#">博客</a></li>
                    <li><a href="/woodpecker/">Woodpecker</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<div class="container main-content">
    <div class="row">
        <div class="col-lg-9 article-list">
            {% block content %}
            {% endblock %}
        </div>
        <div class="col-lg-3 sidebar">
            <h3>最新文章</h3>
            <ul>
                <li>微软正在研发Surface 2后续产品</li>
                <li>Windows 10官方中文页面上线...</li>
            </ul>
            <h3>文章分类</h3>
            <ul>
                <li>自动化测试（8）</li>
                <li>前端开发（7）</li>
                <li>读书笔记（6）</li>
                <li>IT技术（3）</li>
                <li>Django学习（5）</li>
                <li>默认分类（1）</li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>