<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Baymax</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/default.css">
    {% block css %}{% endblock %}
</head>
<body>
<header class="navbar fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 brand">
                <a href="#">
                    <i class="fa fa-paper-plane"></i>
                    <span>Baymax</span>
                </a>
                <a id="main-menu-toggle" class="hidden-xs open"><i class="fa fa-bars"></i></a>
            </div>
            <div class="col-md-10 header-nav">
                <form class="navbar-form navbar-left">
                    <i class="fa fa-search"></i>
                    <input type="text" class="form-control nav-search" placeholder="Are you looking for something ?">
                </form>

                <ul class="nav nav-pills navbar-right">
                    <li><a href="#" data-toggle="dropdown">
                        <i class="fa fa-envelope"></i><span class="badge">4</span></a></li>
                    <li><a href="#"><i class="fa fa-cog"></i></a></li>
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle avatar" data-toggle="dropdown" href="#" role="button"
                           aria-expanded="false">
                            <img src="{{ STATIC_URL }}img/avatar.jpg">
                            Dropdown <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
                            <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i> Messages</a></li>
                            <li><a href="/app/logout/"><i class="fa fa-off"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</header>

<aside>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2" id="sidebar">
                <ul class="nav nav-tabs nav-stacked">
                    <li>
                        <a href="/app/task/">
                            <i class="fa fa-tasks"></i> <span>Task</span>
                            <span class="badge bg-red">8</span>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
                           aria-controls="collapseOne">
                            <i class="fa fa-coffee"></i>
                            <span>TestCase</span>
                            <i class="fa fa-angle-right pull-right"></i>
                        </a>
                        {% if '/app/testcase' in url_path %}
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                                 aria-labelledby="headingOne">
                        {% else %}
                            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingOne">
                        {% endif %}
                        <ul class="list-group">
                            <li><a href="/app/testcase/">Web</a></li>
                            <li><a href="#">Android</a></li>
                            <li><a href="#">iOS</a></li>
                            <li><a href="#">Device</a></li>
                        </ul>
                        </div>
                    </li>
                    <li>
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true"
                           aria-controls="collapseTwo">
                            <i class="fa fa-briefcase"></i> <span>Module</span>
                            <i class="fa fa-angle-right pull-right"></i>
                        </a>
                        {% if '/app/device' in url_path %}
                            <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel"
                                 aria-labelledby="headingTwo">
                        {% else %}
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingTwo">
                        {% endif %}

                        <ul class="list-group">
                            <li><a href="/app/device/?module=web">Web</a></li>
                            <li><a href="/app/device/?module=android">Android</a></li>
                            <li><a href="/app/device/?module=ios">iOS</a></li>
                            <li><a href="/app/device/?module=device">Device</a></li>
                        </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-paste"></i> <span>Result</span>
                            <i class="fa fa-angle-right pull-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-desktop"></i> <span>Share</span>
                            <i class="fa fa-angle-right pull-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-pie-chart"></i> <span>Charts</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-book"></i> <span>Documentation</span>
                            <span class="badge bg-green">11</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-10 main-content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</aside>


<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
{% block js %}{% endblock %}
<script type="text/javascript">
    jQuery(document).ready(function (e) {
        $("#main-menu-toggle").click(function () {
            if (e(this).hasClass("open")) {
                e(this).removeClass("open").addClass("close");
                e("#content").addClass("full");
                e(".navbar-brand").addClass("noBg");
                e("#sidebar").hide();
            } else {
                e(this).removeClass("close").addClass("open");
                e("#content").removeClass("full");
                e(".navbar-brand").removeClass("noBg");
                e("#sidebar").show();
            }
        });
    });
</script>
</body>
</html>