<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MyBlog</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/blog.css">
    <link rel="icon" href="{{ STATIC_URL }}img/wp.ico">
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
</head>
<body>
<header class="header-nav">
    <div class="container nav">
        <div class="row">
            <div class="col-sm-3">
                <h1>{SEAN.GU}</h1>
            </div>
            <div class="col-sm-9 menu">
                <ul>
                    <li><a href="/">首页</a></li>
                    <li><a href="#">前端开发</a></li>
                    <li><a href="#">自动化测试</a></li>
                    <li><a href="/woodpecker/">测试管理</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<div class="container main-content">
    <div class="row">
        <div class="col-lg-9 article-list">
            {% block content %}
            {% endblock %}
        </div>
        <div class="col-lg-3 sidebar">
            <h3>最新文章</h3>
            <ul>
                {% for art in new_arts %}
                    <li><a href="/blog/article/{{ art.No }}">{{ art.Title }}</a></li>
                {% endfor %}
            </ul>
            <h3>文章分类</h3>
            <ul>
                {% for type in art_types %}
                    <li><a href="/blog/articles/type/{{ type.TypeName }}">{{ type.TypeName }}</a></li>
                {% endfor %}
            </ul>
            <h3>标签</h3>
            <ul>
                {% for tag in tags %}
                    <li><a href="/blog/articles/tag/{{ tag.id }}">{{ tag.TagName }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
</body>
</html>