<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MyBlog</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/blog.css">
    <link rel="icon" href="{{ STATIC_URL }}img/wp.ico">
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
</head>
<body>
<header class="header-nav">
    <div class="container nav">
        <div class="row">
            <div class="col-sm-3 logo">MyBlog</div>
            <div class="col-sm-9 menu">
                <ul>
                    <li><i class="fa fa-home"></i><a href="#">首页</a></li>
                    <li><i class="fa fa-book"></i><a href="#">博客</a></li>
                    <li><i class="fa fa-paper-plane"></i><a href="/woodpecker/">Woodpecker</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<div class="container main-content">
    <div class="row">
        <div class="col-lg-9 article-list">
            {% block content %}
            {% endblock %}
        </div>
        <div class="col-lg-3 sidebar">
            <h3>最新文章</h3>
            <ul>
                <li>ggeweg</li>
            </ul>
            <h3>文章分类</h3>
            <ul>
                <li>ggeweg</li>
            </ul>
        </div>
    </div>
</div>
<div class="bing" style="background-image:url({{ bing }});"></div>
</body>
</html>